* {
  font-family: "Comic Sans MS", cursive, sans-serif
}

.team-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
}
.a{
  display: flex;
  flex-direction: row;
}
.a:nth-child(2n) {
  background-color: rgb(223, 223, 223);
  width: 870px;
  font-family: "Comic Sans MS", cursive, sans-serif
}
.a:nth-child(2n) .input-2::placeholder{
  color:black;
  font-size: 16px;font-family: "Comic Sans MS", cursive, sans-serif

  
}
.a:nth-child(2n) .input-2{
  color:black;
  font-size: 16px;
  background-color: rgb(223, 223, 223);font-family: "Comic Sans MS", cursive, sans-serif
  
}
.team-stats {
  min-width: 50px;
  padding: 10px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;font-family: "Comic Sans MS", cursive, sans-serif
}
.team-stats_name {
  min-width: 200px;
  padding: 10px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  line-height: 25px;font-family: "Comic Sans MS", cursive, sans-serif
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.input {
  margin-top: 50px;
  margin-right: 20px;font-family: "Comic Sans MS", cursive, sans-serif
}
.team-wrapper-fav {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: "Comic Sans MS", cursive, sans-serif

}
.team-wrapper-fav .team-stats .input-2::placeholder{
  color:red;
  font-size: 16px;font-family: "Comic Sans MS", cursive, sans-serif

} 
.team-wrapper-fav .team-stats {
  color:red;
  font-size: 16px;font-family: "Comic Sans MS", cursive, sans-serif

} 
.team-wrapper-fav .team-stats_name {
  color:red;
  font-size: 16px;font-family: "Comic Sans MS", cursive, sans-serif

} 

.input-2{
  border: 0;
  width: 40px;  text-align: center;font-family: "Comic Sans MS", cursive, sans-serif
}
.input-2::placeholder{
  color:black;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif
}