.team-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
}
.a{
  display: flex;
  flex-direction: row;
}
.a:nth-child(2n) {
  background-color: rgb(223, 223, 223);
  width: 855px;
  
}
.a:nth-child(2n) .input-2::placeholder{
  color:black;
  font-size: 16px;

  
}
.a:nth-child(2n) .input-2{
  color:black;
  font-size: 16px;
  background-color: rgb(223, 223, 223);
  
}
.team-stats {
  min-width: 50px;
  padding: 10px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
}
.team-stats_name {
  min-width: 185px;
  padding: 10px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.input {
  margin-top: 50px;
  margin-right: 20px;
}
.team-wrapper-fav {
  display: flex;
  flex-direction: row;
  width: auto;
  

}
.team-wrapper-fav .team-stats .input-2::placeholder{
  color:red;
  font-size: 16px;

} 
.team-wrapper-fav .team-stats {
  color:red;
  font-size: 16px;

} 
.team-wrapper-fav .team-stats_name {
  color:red;
  font-size: 16px;

} 

.input-2{
  border: 0;
  width: 25px;
}
.input-2::placeholder{
  color:black;
  font-size: 16px;

}